.menu-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1a2e50;
}
.menu-container1 {
  width: 434px;
  height: 615px;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 10px 0px #101b2f;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.menu-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  margin-top: var(--dl-space-space-threeunits);
  object-fit: cover;
}
.menu-text {
  color: #000000;
  font-size: 24px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Poppins;
  font-weight: 700;
}
.menu-text01 {
  font-family: Poppins;
}
.menu-text02 {
  font-family: Poppins;
  font-weight: 400;
}
.menu-text04 {
  color: rgb(26, 46, 80);
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-family: Poppins;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
}
.menu-button {
  color: rgb(255, 255, 255);
  width: 80%;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(55, 84, 249);
}
.menu-button:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
.menu-button1 {
  color: rgb(255, 255, 255);
  width: 80%;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(55, 84, 249);
}
.menu-button1:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
.menu-button2 {
  color: rgb(255, 255, 255);
  width: 80%;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(55, 84, 249);
}
.menu-button2:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
.menu-button3 {
  color: rgb(255, 255, 255);
  width: 80%;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(55, 84, 249);
}
.menu-button3:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
.menu-button4 {
  color: rgb(255, 255, 255);
  width: 80%;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(55, 84, 249);
}
.menu-button4:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
.menu-button5 {
  color: rgb(255, 255, 255);
  width: auto;
  height: var(--dl-size-size-small);
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  border-width: 0px;
  border-radius: 32px;
  background-color: rgb(55, 84, 249);
}
.menu-button5:hover {
  border: none;
  border-color: #542794;
  border-style: solid;
  border-width: 0px;
  background-color: #6037f9;
}
